---
layout: default
---
<div id="main">
    <article>
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
            	<div>
            	<p style="display: inline-block;" class="post-meta">{{ page.date | date: "%b %-d, %Y" }} {% if page.location %} • {{ page.location | location:"%b" }} {% endif %} {% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
                {% include share-page.html %}
            	</div>
                
        </header>


        <section class="single-post">
            {{ content }}
        </section>
        
        
    </article>

</div>
